<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Author" content="Andrew Davison, Ph.D.">
    <meta name="Keywords" content="computational neuroscience,neuroinformatics,vision,olfaction,multi-sensory,STDP">

    <title>Andrew Davison{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{base_path}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{base_path}}/css/blog.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{base_path}}/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body>

<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">{% block navigation %}
      <a class="nav-link{% if section == "home" %} active{% endif %}" href="/"><strong>Some models are useful...</strong></a>
      <a class="nav-link">|</a>
      <a class="nav-link{% if section == "publications" %} active{% endif %}" href="{{base_path}}/publications/">Publications</a>
      <a class="nav-link{% if section == "blog" %} active{% endif %}" href="{{base_path}}/notes/">Blog</a>
      <a class="nav-link{% if section == "cv" %} active{% endif %}" href="{{base_path}}/cv/">CV</a>
      <a class="nav-link{% if section == "about" %} active{% endif %}" href="{{base_path}}/about/">About</a>
    {% endblock %}</nav>
  </div>
</div>

<div class="container">

    <div class="blog-main">
{% block body %}{% endblock %}
    </div><!-- /.blog-main -->

</div><!-- /.container -->

<footer class="blog-footer">
  <p><a href="http://www.webfaction.com/?affiliate=davison"><img src="{{base_path}}/images/webfaction80x15.png" alt="Hosted by Webfaction"></a> &copy; {{ this_year }} Andrew P. Davison</p>
{% block footer %}{% endblock %}
  <p><a href="#">Back to top</a></p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{base_path}}/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{base_path}}/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
