<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="Keywords" content="computational neuroscience,neuroinformatics,vision,olfaction,multi-sensory,STDP">
  <meta name="Author" content="Andrew Davison, Ph.D.">
  <title>Andrew Davison: Curriculum Vitae</title>
  <link type="text/css" rel="stylesheet" href="/media/css/new.css">
</head>
<body>

<div id="container">

<div id="header">
    <div class="floatright">
    </div>
<div class="clear"/>
    <div id="main-navigation">
         <ul class="nav">
            <li class="nav"><a href="/publications/">Publications</a></li>
            <li class="nav"><a href="/notes/">Notes</a></li>
            <li class="nav">CV</li>
            <li class="nav"><a href="/contact/">Contact</a></li>
            
         </ul>
        </div>
    <h1><a href="/">Andrew Davison</a><span class="site-section">: Curriculum Vitae</span></h1>
</div>



<div id="content">
    
<p><a href="http://www.unic.cnrs-gif.fr/">Unit&eacute; de Neuroscience, Information et Complexit&eacute;</a> (UNIC)<br>
    Institut de Neurobiologie Alfred Fessard<br>
    Centre Nationale de la Recherche Scientifique<br>
    1 Avenue de la Terrasse, 91198 Gif sur Yvette, France<br>
    +33 1 69 82 41 96<br>
    <img alt="e-mail address" src="/media/images/email.png"><br/>
    ORCID: <a href="http://orcid.org/0000-0002-4793-7541">0000-0002-4793-7541</a><br/>
</p>

<div class="cv_section">
<h3>Education</h3>
<dl>

<dt>1995</dt><dd>B.A. (Hons) Physics. University of Cambridge.</dd>

<dt>1996</dt><dd>M.Sc. Medical Physics and Clinical Engineering. University of Sheffield.</dd>

<dt>2001</dt><dd>Ph.D. Computational Neuroscience. University of Cambridge.</dd>

</dl>

</div>





<div class="cv_section">
<h3>Academic Positions</h3>
<dl>

<dt>2010-</dt><dd>Senior Research Scientist (CR1), UNIC, CNRS, Gif sur Yvette, France.<dd></li>

<dt>2006-2010</dt><dd>Research Scientist (CR2), UNIC, CNRS, Gif sur Yvette, France.<dd></li>

<dt>2003-2006</dt><dd>Post-doctoral research associate, UNIC, CNRS, Gif sur Yvette, France.<dd></li>

<dt>2000-2002</dt><dd>Post-doctoral research associate, Shepherd Laboratory, Yale University, New Haven, CT, USA.<dd></li>

<dt>1997-2000</dt><dd>Graduate student, The Babraham Institute, Cambridge, UK.<dd></li>

<dt>1995-1997</dt><dd>Medical Physicist (trainee), Leicester Royal Infirmary, Leicester, UK.<dd></li>

</ul>
</div>

<div class="cv_section">
<h3>Teaching Experience</h3>
<ul>
  
  <li>Managing complex workﬂows in  neural simulation and data analysis, CNS*2013 Tutorial, Paris, France., 2013</li>
  
  <li>Workflows for reproducible research in computational neuroscience, CNS*2012 Tutorial, Decatur, GA, 2012</li>
  
  <li>An introduction to Python for Computational Neuroscientists (lecture), CNS*2011 Tutorial, Stockholm, Sweden, 2011</li>
  
  <li>Computational Neuroscience, supervision of masters thesis project, UNIC, CNRS/Univ. Paris XI, 2011</li>
  
  <li>Neuroscience Databases (lectures and tutorial), FACETS Student Database Workshop, Leysin, Switzerland, 2009</li>
  
  <li>Modelling neural systems with PyNN (lecture and laboratory), FACETS/BCCN &quot;Using Python for Computational Neuroscience&quot; Workshop, Freiburg, Germany, 2008</li>
  
  <li>An introduction to NEURON (lecture and laboratory), FACETS Student Workshop &quot;Modelling for Beginners&quot;, Sånga-Säby, Sweden, 2007</li>
  
  <li>Computational Neuroscience, co-supervision of doctoral studies, UNIC, CNRS/ENS, 2006-2010</li>
  
  <li>Computational Neuroscience, co-supervision of masters thesis project, UNIC, CNRS/Univ. Paris XI, 2005</li>
  
  <li>Computational Neuroscience, supervision of diploma  thesis projects, UNIC, CNRS/Supelec, 2004</li>
  
  <li>Quantitative Biology, undergraduate supervisor, Queens&#39; College, Sidney Sussex College, 1998-2000</li>
  
</ul>
</div>

<div class="cv_section">
<h3>Professional Activities</h3>
<ul>

  <li>Associate Editor, Frontiers in Neuroinformatics, 2011-</li>   

  <li>Member of the Program Committee for the INCF Neuroinformatics Congress 2012, 2011-2012</li>   

  <li>Member of the INCF Taskforce for Electrophysiology Datasharing, 2010-</li>   

  <li>Co-organizer, 4th FACETS CodeJam Workshop. Marseille, France, 2010</li>   

  <li>Member of the Program Committee for the Annual Meeting of Computational Neuroscience (CNS), 2010-</li>   

  <li>Invited participant in the &quot;INCF Multiscale Modelling Meeting India&quot;, Bangalore, India, 2009</li>   

  <li>Co-organizer, 3rd FACETS CodeJam Workshop. Freiburg, Germany, 2009</li>   

  <li>Co-organizer, Workshop on Python in Neuroscience at CNS*2009. Berlin, Germany, 2009</li>   

  <li>Member of the INCF Task Force for a Standard Language in Neural Network Modeling, 2009-</li>   

  <li>Co-organizer, 2nd FACETS CodeJam Workshop. Gif sur Yvette, France, 2008</li>   

  <li>Co-organizer, 1st FACETS CodeJam Workshop. Heidelberg, Germany, 2007</li>   

  <li>Invited participant in the &quot;1st INCF Workshop on Large-Scale Modeling of the Nervous System&quot;, Stockholm, Sweden, 2006</li>   

  <li>Invited participant in workshop on &quot;Terminology and Metadata for Modeling and Computational Neuroscience&quot;, Edinburgh, UK, organized by Prof. Daniel Garder, Cornell University, 2006</li>   

<li>Reviewer for Frontiers in Computational Neuroscience, Journal of Computational Neuroscience, Chemical Senses, Frontiers in Neuroinformatics, International Journal of Neural Systems, Journal of Neurophysiology, Neurocomputing, Neuroinformatics, Perception, Neural Networks.</li>
</ul>
</div>

<div class="cv_section">
<h3>Languages</h3>
<p>Fluent in English and French.</p>
</div>

<div class="cv_section">
<!-- computer skills, software development activities -->
</div>

</div>



<div id="footer">
<p><a href="http://www.webfaction.com/?affiliate=davison"><img src="/media/images/webfaction80x15.png" alt="Hosted by Webfaction"></a> &copy; 2014 Andrew P. Davison <a href="https://www.djangoproject.com/"><img src="/media/images/djangosite80x15.gif" alt="A Django site." title="A Django site."></a></p>


</div>


</div> <!-- /container -->

</body>
</html>
