{% extends "base.html" %}

{% block title %}: Home{% endblock %}

{% block heading %}<a href="/">Andrew Davison</a>{% endblock %}

{% block body %}

<div id="top-panel" class="container">
    <div class="page-header">

    <div id="icons" class="row">

        <div class="col-md-1"><a href="https://github.com/apdavison"><img src="{{base_path}}/images/icons/github.png" alt="GitHub" width=32 height=32></a></div>
        <div class="col-md-1"><a href="http://twitter.com/apdavison"><img src="{{base_path}}/images/icons/twitter.png" alt="Twitter" width=32 height=32></a></div>
        <div class="col-md-1"><a href="https://fosstodon.org/@apdavison"><img src="{{base_path}}/images/icons/mastodon.png" alt="Mastodon" width=30 height=32></a></div>
        <div class="col-md-1"><a href="http://scholar.google.com/citations?user=a_sFeLwAAAAJ"><img src="{{base_path}}/images/icons/google-scholar.png" alt="Google-Scholar" width=32 height=32></a></div>
        <div class="col-md-1"><a href="http://orcid.org/0000-0002-4793-7541"><img src="{{base_path}}/images/icons/orcid.png" alt="ORCID" width=32 height=32></a></div>
        <div class="col-md-1"><a href="https://loop.frontiersin.org/people/937/bio"><img src="{{base_path}}/images/icons/frontiers.png" alt="Frontiers" width=32 height=32></a></div>
        <div class="col-md-1"><a href="https://www.linkedin.com/in/andrew-davison-a5065622"><img src="{{base_path}}/images/icons/linkedin.png" alt="LinkedIn" width=32 height=32></a></div>
        <div class="col-md-4"><small>Andrew Davison<br/>Senior Research Scientist, CNRS<br/>Group Leader, Neuroinformatics<br />Paris-Saclay Institute of Neuroscience</small></div>

    </div>

    </div>
</div>


<div class="container">
  <div class="row">
    <div id="publications" class="col-sm-6">
        <h2>Publications</h2>
        <ul class="publications">
        {% for article in publications %}
        <li class="publication" id="{{article.ID}}">
          {{article.author}} ({{article.year}}) <strong>{{article.title}}</strong>.
          {% if article.ENTRYTYPE == "article" %}
            <span class="publication">{{article.journal}}</span> {{article.volume}}: {{article.pages}}
          {% else %}{% if article.ENTRYTYPE == "incollection" %}
            In: <span class="publication">{{article.booktitle}}</span>, edited by {{article.editor}}; {{article.publisher}}{% if article.publisher_address %}: {{article.publisher_address}}{% endif %}{% if article.first_page %}, pp. {{article.pages}}{% endif %}.
          {% else %}
            Ph.D. thesis, {{article.publisher}}.
          {% endif %}{% endif %}
          {% if article.doi %}<a href="http://dx.doi.org/{{article.doi}}">doi:{{article.doi}}</a> {% endif %}
          <span class="note">
                [<a href="/publications/{{article.year}}/{{article.ID}}.bib">BibTeX</a>]
                {% if article.full_text %}[<a href="{{article.full_text}}">Full text</a>]{% endif %}
                {% if article.preprint %}[<a href="{{article.preprint}}">Preprint</a>]{% endif %}</span>
        </li>
        {% endfor %}
        </ul>

        <p><a href="/publications/">more ...</a></p>

      <h2>Presentations</h2>
        <ul class="publications">
        {% for conf in presentations %}
        <li class="publication" id="{{conf.ID}}">
            {{conf.author}} ({{conf.year}}) <strong>{{conf.title}}</strong>.
            {% if conf.booktitle %}
            <span class="publication">{{conf.booktitle}}</span>{% if conf.volume %} {{conf.volume}}: {{conf.pages}}.{% endif %}
            {% endif %}
            {% if conf.journal %}
            <span class="publication">{{conf.journal}}</span>{% if conf.volume %} {{conf.volume}}: {{conf.pages}}.{% endif %}
            {% endif %}
            {% if conf.doi %}<a href="http://doi.org/{{conf.doi}}">doi:{{conf.doi}}</a> {% endif %}
            <br>
            <span class="publication">{{conf.organization}}</span>, {{conf.address}}, {{conf.month}}.
            <span class="note">
                {% if conf.full_text %}[<a href="{{conf.full_text}}">Full text</a>]{% endif %}
                {% if conf.slides %}[<a href="{{conf.slides}}">Slides</a>]{% endif %}
                {% if conf.proceedings %}[<a href="{{conf.proceedings}}">Proceedings</a>]{% endif %}</span>
        </li>
        {% endfor %}
        </ul>

        <p><a href="/publications/">more ...</a></p>

    </div>

    <div  id="notes" class="col-sm-6">
      <h2>Blog</h2>
      {% for note in notes %}
      <p><a href="{{base_path}}/notes/{{note.page}}/">{{note.title}}</a></p>
      {% endfor %}

      <h2>Projects</h2>
        <dl>
        <dt><a href="http://neuralensemble.org/">NeuralEnsemble</a></dt>
        <dd>An initiative to foster collaborative software development and good software development practices
        in neuroscience, with an emphasis on use of the <a href="http://www.python.org/">Python</a> programming language.
        Includes hosting for open-source neuroscience software, the
        <a href="http://groups.google.com/group/neuralensemble">NeuralEnsemble Google Group</a>, and the
        <a href="http://neuralensemble.org/meetings/">CodeJam</a> meetings.
        <a href="http://neuralensemble.org/">more ...</a></dd>

        <dt><a href="http://neuralensemble.org/PyNN/">PyNN</a></dt>
        <dd>a Python package for simulator-independent specification of spiking neuronal network models. In other words, you
        can write the code for a model once, using the PyNN API, and then run it without modification on any simulator that
        PyNN supports. <a href="http://neuralensemble.org/PyNN/">more ...</a></dd>

        <dt><a href="http://neuralensemble.org/sumatra/">Sumatra</a></dt>
        <dd>Automated tracking of numerical experiments, for reproducible research.
        <a href="http://neuralensemble.org/sumatra/">more ...</a></dd>

        <dt><a href="http://neuralensemble.org/neo/">Neo</a></dt>
        <dd>The goal of Neo is to improve interoperability between Python tools for working with
        electrophysiology data, by providing a common, shared object model and support for reading a wide range of
        neurophysiology file formats. <a href="http://neuralensemble.org/neo/">more ...</a></dd>

        <dt><a href="http://www.neuroml.org/">NeuroML</a> and <a href="http://nineml.incf.org">NineML</a></dt>
        <dd>NeuroML and NineML are XML-based languages for describing neuronal network models. I am currently involved in
        developing associated Python libraries: see
        <a href="https://github.com/NeuralEnsemble/libNeuroML">libNeuroML</a> and the
        <a href="http://pypi.python.org/pypi/9ML">NineML Python API</a>.</dd>

        <dt><a href="http://neuralensemble.org/NeuroTools/">NeuroTools</a></dt>
        <dd>Python tools to simplify the life of a computational neuroscientist, including simulation setup and
        instrumentation, data storage, analysis and visualisation.
        <a href="http://neuralensemble.org/NeuroTools/">more ...</a></dd>

        <dt><a href="https://www.dbunic.cnrs-gif.fr/documentation/helmholtz/">Helmholtz</a></dt>
        <dd>A framework to make it easier for neuroscientists to build a customised database for their experimental data.
        <a href="https://www.dbunic.cnrs-gif.fr/documentation/helmholtz/">more ...</a></dd>
        </dl>
    </div>
  </div>
</div>

{% endblock %}


{% block footer %}
<p>The company logos in the icons are copyright of their respective owners.</p>
{% endblock %}
