{% extends "base.html" %}

{% block title %}: Blog{% endblock %}

{% block heading %}<a href="/">Andrew Davison</a><span class="site-section">: Blog</span>{% endblock %}

{% block body %}
<div id="content">

<h2>Archive</h2>

<p>I also blog at <a href="http://neuralensemble.blogspot.fr">Neural Ensemble News</a>.</p>

{% if notes %}
<dl>
    {% for note in notes %}
    <dt class="date">{{note.date_str}}</span></dt>
    <dd><a href="{{base_path}}/notes/{{note.page}}/">{{note.title}}</a></dd>
    {% endfor %}
</dl>
{% endif %}
    
</div>
{% endblock %}


