{% extends "base.html" %}

{% block title %}: Blog{% endblock %}

{% block heading %}<a href="/">Andrew Davison</a><span class="site-section">: Blog</span>{% endblock %}

{% block body %}
<div id="content">

<p>I also blog at <a href="http://neuralensemble.blogspot.fr">Neural Ensemble News</a>.</p>

{% if notes %}
    {% for note in notes %}
    <h3><a href="{{base_path}}/notes/{{note.page}}/">{{note.title}}</a></h3>
    <p class="date">{{note.date_str}}</p>
    {% endfor %}
{% endif %}
    
</div>
{% endblock %}


