{% extends "base.html" %}

{% block title %}: {{title}}{% endblock %}

{% block runOnLoad %}
<script>
    window.addEventListener("DOMContentLoaded", () => renderProjects(), false);
  </script>
{% endblock %}

{% block heading %}<a href="/">Andrew Davison</a><span class="site-section">: Projects</span>{% endblock %}

{% block body %}

<h2>Software</h2>

<!-- div wrapper needed because Safari doesn't support position:relative on <table> elements -->
<div class="table-wrapper">
<table class="table table-bordered table-condensed centered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latest version</th>
      <th>Repository</th>
      <th>Docs</th>
      <th>Download</th>
      <th>CI/CD</th>
      <th>Coverage</th>
      <th>Spack recipe</th>
      <th>KG</th>
    </tr>
  </thead>
  <tbody>
    {% for sw in software %}
    <tr>
      <td>{{ sw.name }}</td>
      {% if sw.latest_version == "dynamic" %}
      <td id="sw-version-{{ sw.download.link.split('/')[-2] }}">…</td>
      {% else %}
      <td>{{ sw.latest_version }}</td>
      {% endif %}
      {% for field_name in ["git_repo", "documentation", "download", "ci", "coverage", "spack", "kg"] %}
      <td class="text-center">
        {% if field_name in sw %}
          {% set field = sw[field_name] %}
          {% if field.link == "n/a" %}
            n/a
          {% elif "badge" in field %}
            <a href="{{ field.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ field.badge }}" height="16"></a>
          {% elif "icon" in field %}
            {% if field.icon.startswith("http") %}
              <a href="{{ field.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ field.icon }}" height="32"></a>
            {% else %}
              <a href="{{ field.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/{{ field.icon }}" height="32"></a>
            {% endif %}
          {% else %}
            <a href="{{ field.link }}" target="_blank" rel="noopener noreferrer">↗</a>
          {% endif %}
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<h2>Services</h2>

<!-- div wrapper needed because Safari doesn't support position:relative on <table> elements -->
<div class="table-wrapper">
<table class="table table-bordered table-condensed centered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latest version</th>
      <th>Prod.</th>
      <th>Dev</th>
      <th>Repository</th>
      <th>Docs</th>
      <th>ebrains.eu</th>
      <th>Image</th>
      <th>CI</th>
      <th>Monitoring</th>
      <th>Deployment</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
    {% for interface in service.interfaces %}
    <tr>
      <td>{{ interface.name }}</td>
      <td>{{ interface.version }}</td>
      <td class="text-center">
        {% if interface.entrypoints and interface.entrypoints.prod %}
          <a href="{{ interface.entrypoints.prod }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/entrypoint_icon.png" height="32"></a>
        {% endif %}
      </td>
      <td class="text-center">
        {% if interface.entrypoints and interface.entrypoints.get("dev") %}
          <a href="{{ interface.entrypoints.dev }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/entrypoint_icon.png" height="32"></a>
        {% endif %}
      </td>
      <td class="text-center">
        {% if interface.codeRepository %}
          {% for repo_url in [interface.codeRepository.primary, interface.codeRepository.get("mirror")] %}
            {% if repo_url %}
              {% if "github" in repo_url %}
                <a href="{{ repo_url }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/github_icon.png" height="32"></a>
              {% else %}
                <a href="{{ repo_url }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/gitlab_icon.png" height="32"></a>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </td>
      <td class="text-center">
        {% if interface.documentation %}
          <a href="{{ interface.documentation }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/docs_icon.png" height="32"></a>
        {% endif %}
      </td>
      <td class="text-center">
        {% if interface.get("ebrains") %}
          <a href="{{ interface.ebrains }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/ebrains-logo-64.png" height="32"></a>
        {% endif %}
      </td>
      <td class="text-center">
        {% if interface.get("containerImage") %}
          <a href="https://docker-registry.ebrains.eu/harbor/projects" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/harbor-icon-64.png" height="32" alt="{{ interface.containerImage }}"></a>
        {% endif %}
      </td>
      <td class="text-center">
        {% for ci_entry in interface.get("ci", []) %}
          <a href="{{ ci_entry.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ ci_entry.badge }}" height="16"></a>
        {% endfor %}
      </td>
      <td class="text-center">
        {% if interface.get("monitoring") %}
          {% if interface.monitoring.resources %}
            <a href="{{ interface.monitoring.resources }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/grafana_logo.jpg" height="32"></a>
          {% endif %}
          {% if interface.monitoring.users %}
            <a href="{{ interface.monitoring.users }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/Matomo-logo.png" height="32"></a>
          {% endif %}
        {% endif %}
      </td>
      <td class="text-center">
        {% if interface.get("deploymentProtocol") %}
          <a href="{{ interface.deploymentProtocol }}" target="_blank" rel="noopener noreferrer"><img src="{{ base_path }}/images/icons/Kubernetes_logo.png" height="32"></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
</div>

<!-- todo: arrange projects by topic, rather than by active/inactive -->

<h2>Active projects</h2>

{% for sw in software if sw.status == "active" %}
{% if sw.download and sw.download.link and "pypi.org" in sw.download.link %}{% set sw_id = sw.download.link.split('/')[-2] %}{% else %}{% set sw_id = sw.name | lower | replace(' ', '-') %}{% endif %}
<h3>{{ sw.name }}</h3>
<div id="{{ sw_id }}">{% if sw.summary is defined %}<p><strong>{{ sw.summary }}</strong></p>{% endif %}
{% if sw.description_html is defined %}{{ sw.description_html | safe }}{% endif %}</div>
{% endfor %}
{% for service in services if service.status == "active" %}
<h3>{{ service.name }}</h3>
<div id="{{ service.name | lower | replace(' ', '-') }}">{% if service.summary is defined %}<p><strong>{{ service.summary }}</strong></p>{% endif %}
{% if service.description_html is defined %}{{ service.description_html | safe }}{% endif %}</div>
{% endfor %}

<h2>Projects my team no longer contributes to</h2>

{% for sw in software if sw.status == "active-elsewhere" %}
{% if sw.download and sw.download.link and "pypi.org" in sw.download.link %}{% set sw_id = sw.download.link.split('/')[-2] %}{% else %}{% set sw_id = sw.name | lower | replace(' ', '-') %}{% endif %}
<h3>{{ sw.name }}</h3>
<div id="{{ sw_id }}">{% if sw.summary is defined %}<p><strong>{{ sw.summary }}</strong></p>{% endif %}
{% if sw.description_html is defined %}{{ sw.description_html | safe }}{% endif %}</div>
{% endfor %}

<h2>Inactive projects</h2>

{% for sw in software if sw.status == "inactive" %}
{% if sw.download and sw.download.link and "pypi.org" in sw.download.link %}{% set sw_id = sw.download.link.split('/')[-2] %}{% else %}{% set sw_id = sw.name | lower | replace(' ', '-') %}{% endif %}
<h3>{{ sw.name }}</h3>
<div id="{{ sw_id }}">{% if sw.summary is defined %}<p><strong>{{ sw.summary }}</strong></p>{% endif %}
{% if sw.description_html is defined %}{{ sw.description_html | safe }}{% endif %}</div>
{% endfor %}
{% for service in services if service.status == "inactive" %}
<h3>{{ service.name }}</h3>
<div id="{{ service.name | lower | replace(' ', '-') }}">{% if service.summary is defined %}<p><strong>{{ service.summary }}</strong></p>{% endif %}
{% if service.description_html is defined %}{{ service.description_html | safe }}{% endif %}</div>
{% endfor %}


{% endblock %}

{% block footer %}
<p></p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://creativecommons.org/images/public/somerights20.png"/></a> This page is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution License</a>. Please feel free to copy or modify it, provided you link to this web page.</p>
{% endblock %}

{% block extrajs %}<script src="{{base_path}}/js/utils.js"></script>
{% endblock %}
