{% extends "base.html" %}

{% block title %}: Publications{% endblock %}

{% block heading %}<a href="/">Andrew Davison</a><span class="site-section">: Publications {{year}}</span>{% endblock %}

{% block body %}
<div id="content">

<h2>Journal articles and book chapters</h2>

<ul class="publications">
{% for article in publications %}
<li class="publication" id="{{article.ID}}">
  {{article.author}} ({{article.year}}) <strong>{{article.title}}</strong>.
  {% if article.ENTRYTYPE == "article" %}
    <span class="publication">{{article.journal}}</span> {{article.volume}}: {{article.pages}}
  {% else %}{% if article.ENTRYTYPE == "incollection" %}
    In: <span class="publication">{{article.booktitle}}</span>, edited by {{article.editor}}, {{article.publisher}}{% if article.publisher_address %}: {{article.publisher_address}}{% endif %}{% if article.first_page %}, pp. {{article.pages}}{% endif %}.
  {% else %}
    Ph.D. thesis, {{article.school}}.
  {% endif %}{% endif %}
  {% if article.doi %}<a href="http://dx.doi.org/{{article.doi}}">doi:{{article.doi}}</a> {% endif %}
  <span class="note">
        [<a href="/publications/{{article.year}}/{{article.ID}}.bib">BibTeX</a>]
        {% if article.full_text %}[<a href="{{article.full_text}}">Full text</a>]{% endif %}
        {% if article.preprint %}[<a href="{{article.preprint}}">Preprint</a>]{% endif %}
        {% if article.model_link %}[<a href="{{article.model_link}}">Get the model from ModelDB</a>]{% endif %}
        {% if article.book_link %}[<a href="{{article.book_link}}">Book</a>]{% endif %}
  </span>
</li>
{% endfor %}
</ul>

<h2>Conference presentations</h2>
<ul class="publications">
{% for conf in presentations %}
<li class="publication" id="{{conf.ID}}">
  {{conf.author}} ({{conf.year}}) <strong>{{conf.title}}.</strong>
    {% if conf.booktitle %}
    <span class="publication">{{conf.booktitle}}</span>{% if conf.volume %} {{conf.volume}}: {{conf.pages}}.{% endif %}
    {% endif %}
    {% if conf.doi %}<a href="http://dx.doi.org/{{conf.doi}}">doi:{{conf.doi}}</a> {% endif %}
    <br>
    <span class="publication">{{conf.organization}}</span>, {{conf.address}}, {{conf.month}}.
    <span class="note">
        {% if conf.full_text %}[<a href="{{conf.full_text}}">Full text</a>]{% endif %}
        {% if conf.slides %}[<a href="{{conf.slides}}">Slides</a>]{% endif %}
        {% if conf.poster %}[<a href="{{conf.poster}}">Poster</a>]{% endif %}
        {% if conf.video %}[<a href="{{conf.video}}">Video</a>]{% endif %}
        {% if conf.video %}[<a href="{{conf.workshop_website}}">Workshop website</a>]{% endif %}
        {% if conf.proceedings %}[<a href="{{conf.proceedings}}">Proceedings</a>]{% endif %}</span>
</li>
{% endfor %}
</ul>

<h2>Technical reports</h2>
<ul class="publications">
{% for report in tech_reports %}
<li class="publication" id="{{report.anchor}}">
  {{report.author}} ({{report.year}}) <strong>{{report.title}}.</strong>
    <span class="publication">{{report.booktitle}}</span>.
  <span class="note">
  {% if report.pdf %}[<a href="{{report.pdf}}">PDF</a>]{% endif %}</span>
</li>
{% endfor %}
</ul>

</div>

{% endblock %}


