<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Author" content="Andrew Davison, Ph.D.">
    <meta name="Keywords" content="computational neuroscience,neuroinformatics,vision,olfaction,multi-sensory,STDP">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{base_path}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{base_path}}/css/blog.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{base_path}}/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body>

<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">{% block navigation %}
      <a class="nav-link"></a>
    {% endblock %}</nav>
  </div>
</div>

<div class="container">

    <h2>{{ title }}</h2>

    <div class="blog-main">
        {% block body %}
            <div id="content">
                {{fragment}}
            </div>
        {% endblock %}
    </div><!-- /.blog-main -->

</div><!-- /.container -->

<footer class="blog-footer">
  <p>&copy; {{ this_year }} Andrew P. Davison</p>
{% block footer %}{% endblock %}
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{base_path}}/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{base_path}}/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
